---
import BaseDashboard from "../../layout/BaseDashboard.astro";
import { supabase } from "../../lib/supabase";
import ClientList from "../../components/listaPacientes";

// Obtenha o ID do especialista a partir de Astro.locals
const { id } = Astro.locals;
const especialistaId = id;

const { data, error } = await supabase
  .from("relacoes_clientes")
  // Seleciona todas as colunas da tabela relacoes_clientes
  // e, via relacionamento, os dados do cliente referenciado pela coluna "cliente_id"
  .select("*, cliente:cliente_id(id, nome, sobrenome, email, telefone)")
  .eq("espec_id", especialistaId);

if (error) {
  console.error("Erro ao buscar clientes:", error);
} else {
  console.log("Dados dos clientes:", data);
}
---
<BaseDashboard title="Psystem | Clientes">
  <section>
    {data && data.length > 0 ? (
      <ClientList client:only="react" clientes={data} />
    ) : (
      <p class="text-center">Nenhum cliente encontrado.</p>
    )}
  </section>
</BaseDashboard>
