---
import BaseDashboard from "../../layout/BaseDashboard.astro";
import { supabase } from "../../lib/supabase";
import ClientList from "../../components/listaPacientes";

// Obtenha o ID do especialista a partir de Astro.locals
const { id } = Astro.locals;
const especialistaId = id;

// Consulta na tabela "relacoes" do schema "clinica"
const { data, error } = await supabase
  .schema("clinica")
  .from("relacoes")
  .select("cliente(id, nome, sobrenome, email, telefone)")
  .eq("espec_id", especialistaId);

if (error) {
  console.error("Erro ao buscar clientes:", error);
}
---
<BaseDashboard title="Psystem | Clientes">
  <section>
    {data ? (
      <ClientList client:only="react" clientes={data} />
    ) : (
      <p class="text-center border-">Nenhum cliente encontrado.</p>
    )}
  </section>
</BaseDashboard>
