---
import Base from "../layout/Base.astro";
import { supabase } from "../lib/supabase";
import { Button } from "@/components/ui/button"

// Pegando o email do Astro.locals (usuário autenticado)
const { email, id } = Astro.locals;

// Defina o ID do especialista que deseja buscar (pode vir de autenticação ou de outra fonte)
const especialistaId = id;

// Consulta para obter os dados do especialista do schema "clinica"
const { data, error } = await supabase
  .schema("clinica")
  .from("especialista")
  .select("nome, sobrenome")
  .eq("id", especialistaId)
  .single();

if (error) {
  console.error("Erro ao buscar especialista:", error);
}
---
<Base title="Dashboard">
  <section class="py-24 px-4 w-full flex flex-col items-center gap-2">
    <p class="max-w-prose text-xl text-indigo-600 dark:text-indigo-400 font-semibold">
      {email}
    </p>
    <Button>Teste</Button>
    <a
      href="/dashboard/consultas"
      class="mb-10 bg-zinc-900 dark:bg-zinc-100 text-zinc-100 dark:text-zinc-900 px-3 py-1 rounded-md"
    <a
      href="/dashboard/clientes"
      class="mb-10 bg-zinc-900 dark:bg-zinc-100 text-zinc-100 dark:text-zinc-900 px-3 py-1 rounded-md"
    >
      Clientes
    </a>
    <a
      href="/api/auth/signout"
      class="mb-10 bg-zinc-900 dark:bg-zinc-100 text-zinc-100 dark:text-zinc-900 px-3 py-1 rounded-md"
    >
      Sair
    </a>
    {data ? (
      <div class="w-full max-w-prose bg-zinc-100 dark:bg-zinc-900 p-4 rounded-md">
        <p class="text-lg">Nome: {data.nome}</p>
        <p class="text-lg">Sobrenome: {data.sobrenome}</p>
        <p class="text-lg">E-mail: {email}</p>
      </div>
    ) : (
      <p>Nenhum especialista encontrado</p>
    )}
  </section>
</Base>
