---
import BaseDashboard from "../layout/BaseDashboard.astro";
import { supabase } from "../lib/supabase";
import VisaoGeral from '../components/VisaoGeral.tsx';

// Pegando o ID do especialista a partir de Astro.locals
const { id } = Astro.locals;
const especialistaId = id;



// Consulta para obter os dados dos clientes (relacionados ao especialista) do schema "clinica"
const { data: relacoesData, error: relacoesError } = await supabase
  .schema("clinica")
  .from("relacoes")
  .select("cliente(id)")
  .eq("espec_id", especialistaId);

if (relacoesError) {
  console.error("Erro ao buscar clientes:", relacoesError);
}

// Como essa consulta retorna um array, podemos usar .length
const totalClientes = relacoesData ? relacoesData.length : 0;
// console.log("Total de clientes:", totalClientes);
---
<BaseDashboard title="Dashboard">
  <section class="w-full flex flex-col gap-2">
    
    <!-- Renderiza o componente React, passando totalClientes -->
    <VisaoGeral client:only="react" totalClientes={totalClientes} />
  </section>
</BaseDashboard>