---
import LogoT4P from "../brand/logoT4P.astro";
import { buttonVariants } from "@/components/ui/button";
---

<header
  class="sticky top-0 z-50 w-full bg-background/95 supports-[backdrop-filter]:bg-background/60 border-b backdrop-blur"
>
  <nav class="flex items-center justify-between px-4 py-3 bg-white dark:bg-zinc-800 dark:border-zinc-700">
    <!-- Marca / Logo -->
    <a href="/dashboard" class="hidden font-semibold dark:text-white">
      <LogoT4P />
    </a>

    <!-- Links -->
    <ul class="flex items-center gap-8 font-medium">
      <li>
        <a href="/dashboard" class="text-zinc-900 dark:text-gray-200">
          Dashboard
        </a>
      </li>
      <li>
        <a href="/dashboard/clientes" class="text-zinc-900 dark:text-gray-200">
          Clientes
        </a>
      </li>
      <li>
        <a
        href="/api/auth/signout"
        class={buttonVariants({ variant: "outline" })}
      >
        Sair
      </a>
      </li>
    </ul>
  </nav>
</header>

