<html>
    <div class="">
        <a href={""}><span class="font-normal">T<span class="font-bold text-primary">4</span>P &#123; <span class="font-light text-primary">PSIstem</span> &#125;</span></Link>
      </div>
</html>